*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: #212121;
    color: #ffff;
    /* padding: 1rem; */
    margin: 0.2rem 1rem;
}

.header{
    display: flex;
    flex-direction: column;
    /* width: 60%; */
    justify-content:start;
    align-items: center;
}

.title{
    font-size: 4rem;
    /* text-align: center; */
}
.description{
    font-size: 2rem;
}